%p#notice= notice
%h1 Inventories
%table
  %thead
    %tr
      %th Item img
      %th Itemname
      %th Rarity
      %th Amount
      %th{:colspan => "3"}
  %tbody
    - @items.each_with_index do |item,index|
      %tr
        %td 
          %img{:src => item.item_img_url, :width => "200", :height => "auto"}
        %td= item.name
        %td= item.rarity
        %td= @number_items[index] 
        %td
          = form_with(model: item, url: "/sell/#{item.name}") do |form|
            
            .field
              = form.label :price
              = form.number_field :price
            .field
              = form.label :amount
              = form.number_field :amount
            .actions
              = form.submit "Sell", class: "btn btn-dark"
        %td= button_to 'How to obtain', "/how_to_obtain/#{item.name}", class: "btn btn-dark"

%h1 onsale Inventories
%table
  %thead
    %tr
      %th Item img
      %th Itemname
      %th Rarity
      %th Amount
      %th Price
      %th{:colspan => "3"}
  %tbody
    - @sell_items.each_with_index do |item,index|
      %tr
        %td 
          %img{:src => item.item_img_url, :width => "200", :height => "auto"}
        %td= item.name
        %td= item.rarity
        %td= @number_sell_items[index][0] 
        %td= @number_sell_items[index][1] 
        %td= button_to 'Cancel', "/cancel/#{item.name}", class: "btn btn-dark"


