%p#notice= notice
%div
  %p
    %strong Bannername:
    = @banner.name
  
  %p
    %strong startdate:
    = @banner.startDate
  %p
    %strong enddate:
    = @banner.endDate
%div
  = button_to "pull 1", "/banner/#{@banner.name}/pull_one"
  = button_to "pull 10", "/banner/#{@banner.name}/pull_ten"
%div
= link_to 'Edit', edit_banner_path(@banner)
|
= link_to 'Back', banners_path
-if @no
  = @no
