%p#notice= notice
= form_with(model: @code, url: "/redeem/code",label_errors: true, inline_errors: true) do |form|

  .field
    = form.label :code, class: "form-label form-control-label"
    = form.text_field :code, class: "is-invalid"
  .actions
    = form.submit "redeem", class: "btn btn-dark"

